.panel4 {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translate(0, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel4.is-active {
  transform: translate(0, 0);
}
.panel4-1 {
  position: relative;
  width: 800px;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease;
}
.ayuda1 {
  position: absolute;
  width: 485px;
  height: 270px;
  background-size: 100% 100%;
  left: -69px;
  top: 50px;
  transition: opacity 1s;
  opacity: 0;
}
/* .ayuda2 {
  position: absolute;
  width: 440px;
  height: 118px;
  background-size: 100% 100%;
  left: 150px;
  top: 60px;
  transition: opacity 2s;
  opacity: 0;
} */
.ayuda3 {
  position: absolute;
  width: 350px;
  height: 310px;
  background-size: 100% 100%;
  right: 220px;
  bottom: 85px;
  transition: opacity 2s;
  opacity: 0;
}

.ayuda4 {
  position: absolute;
  width: 170px;
  height: 170px;
  background-size: 100% 100%;
  left: 160px;
  bottom: 110px;
  transition: opacity 2s;
  opacity: 0;
}

.ayuda5 {
  position: absolute;
  width: 170px;
  height: 120px;
  background-size: 100% 100%;
  right: 160px;
  bottom: 140px;
  transition: opacity 2s;
  opacity: 0;
}

.ayuda6 {
  display: none;
  position: absolute;
  width: 420px;
  height: 200px;
  background-size: 100% 100%;
  right: 50px;
  bottom: 300px;
  transition: opacity 2s;
  opacity: 0;
}


@media (max-width: 1600px) {
  .panel4-1 {
    width: 800px;
    height: 100%;
  }
  .ayuda1 {
    left: 23px;
    top: 60px;
  }
  /* .ayuda2 {
    left: 205px;
    top: 65px;
  } */
  .ayuda3 {
    right: 220px;
    bottom: 85px;
  }

  .ayuda4 {
    left: 160px;
    bottom: 115px;
  }

  .ayuda5 {
    right: 160px;
    bottom: 140px;
  }
  .ayuda6 {
    right: 50px;
    bottom: 300px;
  }
}
@media (max-width: 1600px) and (max-height: 700px) {
  .ayuda1 {
    /* left: 148px; */
    top: 35px;
  }
  /* .ayuda2 {
    
    top: 40px;
  } */
  .ayuda3 {
    /* right: 275px; */
    bottom: 90px;
    /* width: 350px;
    height: 290px; */
  }

} 
@media (max-width: 1280px) {
  .panel4-1 {
    width: 900px;
    height: 100%;
  }
  .ayuda1 {
    left: 148px;
    top: 50px;
  }
  /* .ayuda2 {
    left: 280px;
    top: 50px;
  } */
  .ayuda3 {
    right: 270px;
    bottom: 65px;
  }

  .ayuda4 {
    left: 200px;
    bottom: 100px;
  }
  .ayuda5 {
    right: 200px;
    bottom: 125px;
  }
  .ayuda6 {
    right: 50px;
    bottom: 300px;
  }
}
@media (max-width: 1280px) and (max-height: 700px) {
  .ayuda1 {
    left: 148px;
    top: 35px;
  }
  /* .ayuda2 {
    left: 300px;
    top: 40px;
  } */
  .ayuda3 {
    /* right: 275px; */
    bottom: 100px;
    width: 350px;
    height: 290px;
  }
  .ayuda4 {
    left: 200px;
    bottom: 125px;
  }
  .ayuda5 {
    right: 200px;
    bottom: 145px;
  }

}
@media (max-width: 800px) {
  .panel4-1 {
    width: 100%;
    height: 100%;
  }
  .ayuda1 {
    left: 170px;
    top: 65px;
  }
  /* .ayuda2 {
    left: 295px;
    top: 66px;
  } */
  .ayuda3 {
    right: 220px;
    bottom: 90px;
  }
  .ayuda4 {
    left: 162px;
    bottom: 110px;
  }

  .ayuda5 {
    right: 160px;
    bottom: 135px;
  }
  .ayuda6 {
    right: 50px;
    bottom: 300px;
  }
}
@media (max-width: 787px) {
  .panel4-1 {
    width: 100%;
    height: 100%;
  }
  .ayuda1 {
    width: 280px;
    height: 220px;
    left: 20px;
    top: 50px;
  }

  /* .ayuda2 {
    width: 365px;
    height: 100px;
    left: 65px;
    top: 55px;
  } */
  .ayuda3 {
    width: 270px;
    height: 220px;
    right: 250px;
    bottom: 70px;
  }

  .ayuda4 {
    width: 130px;
    height: 110px;
    left: 205px;
    bottom: 105px;
  }

  .ayuda5 {
    width: 140px;
    height: 140px;
    right: 200px;
    bottom: 90px;
  }
  .ayuda6 {
    display: flex;
    width: 300px;
    height: 100px;
    right: 5px;
    bottom: 220px;
  }
}
@media (max-width: 787px) and (max-height: 700px) {
  
  .ayuda3 {
    right: 190px;
    bottom: 70px;
  }

  .ayuda4 {
    width: 130px;
    height: 110px;
    left: 150px;
    bottom: 100px;
  }

  .ayuda5 {
    width: 140px;
    height: 140px;
    right: 140px;
    bottom: 80px;
  }
  
}
@media (max-width: 425px) {
  .panel4-1 {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .ayuda1 {
    width: 280px;
    height: 200px;
    left: -8px;
    top: 28px;
  }
  /* .ayuda2 {
    width: 240px;
    height: 100px;
    left: 105px;
    top: 45px;
  } */
  .ayuda3 {
    width: 270px;
    height: 220px;
    right: 70px;
    bottom: 80px;
  }
  .ayuda4 {
    width: 150px;
    height: 80px;
    left: 25px;
    bottom: 118px;
  }
  .ayuda5 {
    width: 135px;
    height: 135px;
    right: 25px;
    bottom: 90px;
  }
  .ayuda6 {
    display: flex;
    width: 300px;
    height: 100px;
    right: 5px;
    bottom: 220px;
  }
}
@media (max-width: 375px) {
  .panel4-1{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .ayuda1{
    width: 280px; 
    height: 205px;
    left: -10px;
    top: 40px;
  }
  /* .ayuda2{
    width: 255px; 
    height: 100px;
    left: 100px;
    top: 40px;
  } */
  .ayuda3{
    width: 270px; 
    height: 220px;
    right: 44px;
    bottom: 60px;
  }
  
  .ayuda4{
    width: 140px; 
    height: 80px;
    left: 5px;
    bottom: 100px;
  }
  
  .ayuda5{
    width: 130px; 
    height: 100px;
    right: 10px;
    bottom: 90px;
  }
  .ayuda6{
    display: flex;
    width: 300px; 
    height: 100px;
    right: 5px;
    bottom: 220px;
  }
}
@media (max-width: 320px) {
  .panel4-1{
    width: 100%;
    height: 100%;
  }  
  .ayuda1{
    width: 260px; 
    height: 180px;
    left: -10px;
    top: 20px;
  }
  /* .ayuda2{
    width: 220px; 
    height: 90px;
    left: 90px;
    top: 20px;
  } */
  .ayuda3{
    width: 240px; 
    height: 200px;
    right: 40px;
    bottom: 40px;
  }
  
  .ayuda4{
    width: 130px; 
    height: 70px;
    left: -5px;
    bottom: 80px;
  }
  
  .ayuda5{
    width: 100px; 
    height: 80px;
    right: 10px;
    bottom: 70px;
  }
  .ayuda6{
    display: flex;
    width: 240px; 
    height: 90px;
    right: 5px;
    bottom: 210px;
  }
}