.Panel6 {
  position: fixed;
  z-index: 1002;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translate(0, -100%);
}

.Panel6.is-active {
  transform: translate(0, 0);
}

.rating {
  position: relative;
  width: 50%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #999;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Pantalla 1, de la encuesta */
/* 
  */
.Pantalla1 {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: yellowgreen;
}

.titulo {
  background: #999999ff;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

.conTitulo {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.conTitulo>h1 {
  color: #fff;
  text-align: left;
}

.LogoM2 {
  width: 100px;
  height: 100px;
}

.LogoM2>img {
  width: 100%;
  height: 100%;
}

.encuesta {
  width: 100%;
  height: auto;
  background: #1a1a1aff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conEncuesta {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  gap: 20px;
  margin: 15px;
}

.conEncuesta>p {
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-size: 1.2rem;
}

.inputI {
  height: 100%;
  width: 98%;
  border-radius: 10px;
  background: #fff;
  color: #999999ff;
  padding: 10px;
  font-size: 17px;
  border: none;
  resize: none;
}

.Terminos {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.Terminos>input {
  width: 20px;
  height: 20px;
}

.conEncuesta>.iniciar {
  border-radius: 8px;
  font-size: 1.2rem;
  background: #999999ff;
  color: white;
  border: none;
  height: 38px;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo>p {
  height: 90%;
  width: 90%;
  margin: 15px;
  text-align: justify;
}

/* Pantalla 2 */
/* 
  
  */
.Pantalla2 {
  height: 90%;
  width: 90%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pantalla2>.titulo {
  height: 100px;
}

.Pantalla2 .encuesta {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.conEncuesta .encuesta input {
  height: 15px;
  width: 15px;
}

.opcion {
  display: flex;
  align-items: center;
  gap: 10px;
}

.conEncuesta>.continuar {
  border-radius: 8px;
  font-size: 1.2rem;
  background: #999999ff;
  color: white;
  border: none;
  height: 38px;
  width: 350px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #999999ff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: justify;
  height: 100%;
}

.conFooter {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.Pantalla2 .conFooter {
  justify-content: flex-end;
}

/* Pantalla 3 
  
  */
.Pantalla3 {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pantalla3>.encuesta {
  gap: 30px;
  font-size: 1.2rem;
}

.Pantalla3 .encuesta input {
  height: 15px;
  width: 15px;
}

.Pantalla3 .encuesta>.continuar {
  width: 250px;
}

.Pantalla3 .conFooter {
  justify-content: flex-end;
}

/* Pantalla 4 
  
  */
.Pantalla4 {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
}

.Pantalla4 .titulo {
  height: 100px;
}

.Pantalla4 .encuesta .conEncuesta .textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.encuesta .conEncuesta .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #000;
  border-radius: 10px;
  border: 1px solid #333;
  background: #fff;
  padding: 10px;
  font-size: 1.2rem;
  resize: none;
}

.textarea input:focus {
  border-color: #444;
}

.Pantalla4 .encuesta .conEncuesta>.Terminar {
  border-radius: 8px;
  font-size: 1.2rem;
  background: #999999ff;
  color: white;
  border: none;
  height: 38px;
  width: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pantalla4 .footer .conFooter {
  justify-content: flex-end;
}

/* Pantalla 5 
  
  */
.Pantalla5 {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
}

.Pantalla5>.encuesta .conEncuesta {
  gap: 30px;
  font-size: 1.2rem;
  height: 100%;
}

.Pantalla5 .encuesta .conEncuesta>h1 {
  color: #fff;
}

@media (max-width: 1600px) {}

@media (max-width: 1600px) and (max-height: 700px) {
  .Panel6 {
    align-items: unset;
    justify-content: unset;
  }

  .rating {
    width: 100%;
    height: 100%;
    align-items: unset;
    justify-self: unset;
    overflow: auto;
  }

  /* Pantalla 1, de la encuesta */
  /* 
  */
  .Pantalla1 {
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  .titulo {
    height: 25%;
  }

  .conTitulo {
    margin: 0px;
    height: 100%;
  }

  .conEncuesta {
    margin: 10px;
    gap: 15px;
    /* height: 100%; */
  }

  .conEncuesta>.iniciar {
    padding: 8px;
  }

  .LogoM2 {
    width: 90px;
    height: 80px;
  }


  /* Pantalla 2, de la encuesta */
  /* 
        */
  .Pantalla2 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla2 .titulo {
    height: 25%;
  }

  .Pantalla2 .encuesta {
    height: 50%;

  }

  .Pantalla2 .footer {
    height: 25%;
  }

  /* Pantalla 3, de la encuesta */
  /* 
        */
  .Pantalla3 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla3 .titulo {
    height: 25%;
  }

  .Pantalla3 .encuesta {
    height: 50%;

  }

  .Pantalla3 .encuesta .conEncuesta {
    gap: 50px;
  }

  .Pantalla3 .footer {
    height: 25%;
  }

  /* Pantalla 4, de la encuesta */
  /* 
        */
  .Pantalla4 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla4 .titulo {
    height: 25%;
  }

  .Pantalla4 .encuesta {
    height: 50%;

  }

  .Pantalla4 .encuesta .conEncuesta {
    justify-content: center;
    height: 100%;
    gap: 20px;
  }

  .Pantalla4 .encuesta .conEncuesta .textarea {
    height: 50%;
  }

  .Pantalla4 .footer {
    height: 25%;
  }

  /* Pantalla 5, de la encuesta */
  /* 
        */
  .Pantalla5 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla5 .titulo {
    height: 25%;
  }

  .Pantalla5 .encuesta {
    height: 50%;
    justify-content: center;
    align-items: center;

  }

  .Pantalla5 .encuesta .conEncuesta {
    justify-content: center;
    align-items: center;
  }

  .Pantalla5 .footer {
    height: 25%;
  }
}

@media (max-width: 1280px) {}

@media (max-width: 1280px) and (max-height: 700px) {}

@media (max-width: 1080px) {}

@media (max-width: 900px) {
  .Panel6 {
    align-items: unset;
    justify-content: unset;
  }

  .rating {
    width: 100%;
    height: 100%;
  }

  .formulario {
    height: 100%;
  }

  .Pantalla1 {
    height: 100%;
    width: 100%;
    justify-content: unset;
    align-items: unset;
  }

  .Pantalla1 .titulo:last-child {
    height: auto;
  }

  .conEncuesta .iniciar {
    padding: 8px;
  }

  .LogoM2 {
    height: 90px;
    width: 90px;
  }

  /* Pantalla 2, de la encuesta */
  /* 
        */
  .Pantalla2 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla2 .titulo {
    height: 25%;
  }

  .Pantalla2 .encuesta {
    height: 50%;

  }

  .Pantalla2 .footer {
    height: 25%;
  }

  /* Pantalla 3, de la encuesta */
  /* 
        */
  .Pantalla3 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla3 .titulo {
    height: 25%;
  }

  .Pantalla3 .encuesta {
    height: 50%;

  }

  .Pantalla3 .encuesta .conEncuesta {
    gap: 50px;
  }

  .Pantalla3 .footer {
    height: 25%;
  }

  /* Pantalla 4, de la encuesta */
  /* 
        */
  .Pantalla4 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla4 .titulo {
    height: 25%;
  }

  .Pantalla4 .encuesta {
    height: 50%;

  }

  .Pantalla4 .encuesta .conEncuesta {
    justify-content: center;
    height: 100%;
    gap: 20px;
  }

  .Pantalla4 .encuesta .conEncuesta .textarea {
    height: 50%;
  }

  .Pantalla4 .footer {
    height: 25%;
  }

  /* Pantalla 5, de la encuesta */
  /* 
        */
  .Pantalla5 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla5 .titulo {
    height: 25%;
  }

  .Pantalla5 .encuesta {
    height: 50%;
    justify-content: center;
    align-items: center;

  }

  .Pantalla5 .encuesta .conEncuesta {
    justify-content: center;
    align-items: center;
  }

  .Pantalla5 .footer {
    height: 25%;
  }

}

@media (max-width: 787px) {}

@media (max-width: 425px) {
  .Panel6 {
    align-items: unset;
    justify-content: unset;
  }

  .rating {
    width: 100%;
    height: 100%;
  }

  .formulario {
    height: 100%;
  }

  .Pantalla1 {
    height: 100%;
    width: 100%;
    justify-content: unset;
    align-items: unset;
  }

  .Pantalla1 .titulo:last-child {
    height: auto;
  }

  .conEncuesta .iniciar {
    padding: 8px;
  }

  .LogoM2 {
    height: 90px;
    width: 90px;
  }
  .inputI {
    width: 95%;
  }

  /* Pantalla 2, de la encuesta */
  /* 
        */
  .Pantalla2 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla2 .titulo {
    height: 25%;
  }

  .Pantalla2 .encuesta {
    height: 50%;

  }
  .conEncuesta .continuar{
    font-size: 1.1rem;
    width: 320px;
  }

  .Pantalla2 .footer {
    height: 25%;

  }
  .Pantalla2 .footer .conFooter{
    align-items: flex-start;
    justify-content: flex-end;
  }

  /* Pantalla 3, de la encuesta */
  /* 
        */
  .Pantalla3 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla3 .titulo {
    height: 25%;
  }

  .Pantalla3 .encuesta {
    height: 50%;

  }
  .Pantalla3 .footer .conFooter{
    align-items: flex-start;
    justify-content: flex-end;
  }

  .Pantalla3 .encuesta .conEncuesta {
    gap: 50px;
  }

  .Pantalla3 .footer {
    height: 25%;
  }

  /* Pantalla 4, de la encuesta */
  /* 
        */
  .Pantalla4 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla4 .titulo {
    height: 25%;
  }

  .Pantalla4 .encuesta {
    height: 50%;

  }
  

  .Pantalla4 .encuesta .conEncuesta {
    justify-content: center;
    height: 100%;
    gap: 20px;
  }

  .Pantalla4 .encuesta .conEncuesta .textarea {
    height: 50%;
  }

  .Pantalla4 .footer {
    height: 25%;
  }
  .Pantalla4 .footer .conFooter{
    align-items: flex-start;
    justify-content: flex-end;
  }

  /* Pantalla 5, de la encuesta */
  /* 
        */
  .Pantalla5 {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    height: 100%;
  }

  .Pantalla5 .titulo {
    height: 25%;
  }

  .Pantalla5 .encuesta {
    height: 50%;
    justify-content: center;
    align-items: center;

  }

  .Pantalla5 .encuesta .conEncuesta {
    justify-content: center;
    align-items: center;
  }

  .Pantalla5 .footer {
    height: 25%;
  }
  .Pantalla5 .footer .conFooter{
    align-items: flex-start;
    justify-content: flex-end;
  }

}

@media (max-width: 375px) {}

@media (max-width: 320px) {
  .Pantalla2 .titulo {
    height: 20%;
  }

  .Pantalla2 .encuesta {
    height: auto;
  }

  .conEncuesta>.continuar {
    font-size: 1rem;
    width: 280px;
  }

  .conTitulo>h1 {
    font-size: 1.3rem;
  }

  .LogoM2 {
    width: 80px;
    height: 80px;
  }

  .inputI {
    width: 95%;
  }

  .conFooter {
    margin: 2px;
  }

  .conTitulo {
    margin: 5px;
  }
}