.panel5 {
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: opacity 2s ease;
  opacity: 0;
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.close {
  height: 40px;
  width: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #999999ff;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  cursor: pointer;
  /* z-index: 999; */
}
.LogoM{
  width: 100px;
  height: 100px;
}
.LogoM>img{
  width: 100%;
  height: 100%;
}

.panel5 .screen1 {
  height: 50%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}

.title {
  position: relative;
  background: #999999ff;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-align: justify;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;

}
.titles{
  height: auto;
  width: auto;
}

.title>h1 {
  color: #fff;
}
.down {
  background: #999999ff;
  width: 100%;
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: justify;
  padding: 30px;
  border-radius: 0px 0px 10px 10px;
  
}

.down>h1 {
  color: #fff;
}

.survey {
  width: 100%;
  height: auto;
  background: #1a1a1aff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 20px;
}

.survey>p {
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-size: 1.2rem;
}

.input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  color: #000;
  padding: 10px 0px 10px 10px;
  font-size: 17px;
  resize: none;
  border: none;
}

.Terms {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.Terms>input {
  width: 20px;
  height: 20px;
}

.survey>.start {
  border-radius: 8px;
  font-size: 1.2rem;
  background: #999999ff;
  color: white;
  border: none;
  height: 38px;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
@media (max-width: 2000px) and (max-height: 900px) {
  .close {
    height: 35px;
    width: 35px;
    top: 10px;
    right: 10px;
  }
  
  .panel5 .screen1 {
    height: 20%;
    width: 50%;
  }
  .LogoM{
    width: 90px;
    height: 90px;
  }
  .title{
    width: 100%;
    padding: 10px;
    font-size: 1rem;

  }
  .title>h1{
    font-size: 1.2rem;

  }
  
  .down {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
  
  .survey {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  
  .survey>p {
    font-size: 1rem;
  }
  
  .input {
    height: 100%;
    width: 98%;
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
  }
  
  .Terms {
    gap: 10px;
    font-size: 1rem;
  }
  
  .Terms>input {
    width: 15px;
    height: 15px;
  }
  
  .survey>.start {
    border-radius: 8px;
    font-size: 1rem;
    padding: 8px;
  }

}
@media (max-width: 1280px) and (max-height: 700px) {
  .close {
    height: 45px;
    width: 45px;
    top: 10px;
    right: 10px;
  }
  
  .panel5 .screen1 {
    height: 35%;
    width: 70%;
  }
  
  .title {
    width: 100%;
    padding: 10px;
  }
  
  .down {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;

  }
  
  .survey {
    width: 100%;
    padding: 10px;
    gap: 20px;
  }
  
  .survey>p {
    font-size: 1.2rem;
  }
  
  .input {
    height: 100%;
    width: 98%;
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
  }
  
  .Terms {
    gap: 10px;
  }
  
  .Terms>input {
    width: 20px;
    height: 20px;
  }
  
  .survey>.start {
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 8px;
  }
}
@media (max-width: 900px) {
  .close {
    height: 30px;
    width: 30px;
    top: 8px;
    right: 8px;
  }
  .LogoM{
    width: 80px;
    height: 80px;
  }
  .panel5 .screen1 {
    height: 35%;
    width:90%;
  }
  
  .title {
    width: 100%;
    padding: 10px;
    font-size: 14px;

  }
  
  .down {
    width: 100%;
    padding: 10px;
    font-size: 14px;

  }
  
  .survey {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  
  .survey>p {
    font-size: 14px;
  }
  
  .input {
    height: 100%;
    width: 98%;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
  }
  
  .Terms {
    gap: 10px;
    font-size:14px;

  }
  
  .Terms>input {
    width: 12px;
    height: 12px;
  }
  
  .survey>.start {
    font-size: 14px;
    padding: 8px;
    width: 150px;
  }
}
@media (max-width: 425px) {
  .close {
    height: 30px;
    width: 30px;
    top: 8px;
    right: 8px;
  }
  
  .LogoM{
    width: 70px;
    height: 70px;
  }
  .panel5 .screen1 {
    height: 35%;
    width:90%;
  }
  
  .title {
    width: 100%;
    padding: 10px;
    font-size: 12px;

  }
  
  .down {
    width: 100%;
    padding: 10px;
    font-size: 12px;

  }
  
  .survey {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  
  .survey>p {
    font-size: 12px;
  }
  
  .input {
    height: 100%;
    width: 98%;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
  }
  
  .Terms {
    gap: 10px;
    font-size:12px;

  }
  
  .Terms>input {
    width: 12px;
    height: 12px;
  }
  
  .survey>.start {
    font-size: 12px;
    padding: 8px;
    width: 100px;
  }
}
@media (max-width: 375px) {
  
}
@media (max-width: 320px) {
  .close {
    height: 20px;
    width: 20px;
    top: 5px;
    right: 5px;
  }
  .LogoM{
    width: 50px;
    height: 50px;
  }
  
  .panel5 .screen1 {
    height: 35%;
    width:90%;
  }
  
  .title {
    width: 100%;
    padding: 10px;
    font-size: 9px;

  }
  
  .down {
    width: 100%;
    padding: 10px;
    font-size: 9px;

  }
  .close>span{
    font-size: 1rem;
  }
  .survey {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  
  .survey>p {
    font-size: 9px;
  }
  
  .survey>.input {
    height: 100%;
    width: 98%;
    border-radius: 10px;
    padding: 5px;
    font-size: 9px;
  }
  
  .Terms {
    gap: 10px;
    font-size: 9px;

  }
  
  .Terms>input {
    width: 10px;
    height: 10px;
  }
  
  .survey>.start {
    font-size: 10px;
    padding: 8px;
    width: 100px;
  }
}
