#landscape {
    display: none;
    z-index: -100;
}

@media(max-width: 320px)  {
    #landscape {
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background: white;
        z-index: 990000;
        width: 100%;
        height: 100vh;
        font-size: 120%;
        align-items: center;
        justify-content: center;
        /* gap: 10px; */


    }

    #landscape div {
        width: 200px;
        height: 200px;
        background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /* background-color: #f28f1d; */
        margin: 5px;
    }

}