.panel3 {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    transition: transform 0.3s ease;
  
    transform: translate(0, 100%);
  }
  
  .panel3.is-active {
    transform: translate(0, 0);
  }

  .option4{
    margin-top: 30px;
  }

  .option4 .imagen {

    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 5rem;
    padding: 0;
  }
  .menu3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: auto;
    gap:20px;
  }
  
  .menu3 div {
    padding: 1rem;
    width: inherit;
    display: flex;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    transition: all 03s ease;
    
  }

  .option3{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .option3 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  .option3 .imagen {
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 8rem;
    height: 8rem;
    border-radius: 10%;
    padding: 0;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }